---
import { Font } from 'astro:assets';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Scoped</title>
    <meta
      name="description"
      content="A lightweight, framework-agnostic library for building web components with reactive state, bindings, lifecycle hooks, template-based rendering and plugins."
    />
    <Font cssVariable="--font-poppins" preload={true} />
  </head>
  <body>
    <c-pointer></c-pointer>
    <div
      class="flex flex-col justify-center items-center min-h-[95vh] w-screen"
    >
      <div class="relative z-10 scale-75 md:scale-100">
        <svg
          width="300"
          height="300"
          viewBox="0 0 749 749"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="2.00098"
            y="3.00195"
            width="744"
            height="744"
            rx="15"
            fill="#222730"></rect>
          <circle cx="374.5" cy="374.5" r="374.5" fill="#F0F6FC"></circle>
        </svg>

        <h1
          class="big-title leading-none tracking-tighter mt-5"
          style="font-family: var(--font-poppins); font-size: 85px;"
        >
          Scoped
        </h1>
      </div>

      <br />

      <div class="max-w-[900px] text-pretty sub-title mt-10 px-5 !leading-none">
        A <strong>lightweight</strong>, <strong>framework-agnostic</strong> library
        for building web components with <strong>reactive state</strong>, <strong
          >bindings</strong
        >, <strong>lifecycle hooks</strong>,
        <strong>template-based rendering</strong> and <strong>plugins</strong>.
      </div>

      <br />
      <br />

      <code>
        <strong>4.1 kb</strong> gzipped - <strong>12.7 kb</strong> minified
      </code>
    </div>

    <div class="text-content-narrow flex flex-row gap-10 mx-auto">
      <aside class="sticky top-5 self-start shrink-0 hidden xl:block">
        <c-table-content></c-table-content>
      </aside>
      <c-content></c-content>
    </div>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets/styles/github.css"
    />
  </body>
</html>

<script>
  import hljs from 'highlight.js/lib/core';
  import { happy } from '@petit-kit/scoped';
  import '../components/c-table-content.ts';
  import '../components/c-content.ts';
  import '../components/c-pointer.ts';
  import '../components/c-logo.ts';

  import typescript from 'highlight.js/lib/languages/typescript';
  import bash from 'highlight.js/lib/languages/bash';
  import javascript from 'highlight.js/lib/languages/javascript';
  import xml from 'highlight.js/lib/languages/xml';

  hljs.registerLanguage('typescript', typescript);
  hljs.registerLanguage('javascript', javascript);
  hljs.registerLanguage('bash', bash);
  hljs.registerLanguage('xml', xml);

  hljs.configure({
    languages: ['typescript', 'ts', 'javascript', 'js', 'bash', 'sh'],
    ignoreUnescapedHTML: true,
    cssSelector: 'pre code',
  });

  hljs.highlightAll();

  happy();
</script>
