---
import { Font } from 'astro:assets';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes, viewport-fit=cover"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Scoped</title>
    <meta
      name="description"
      content="A lightweight, framework-agnostic library for building web components with reactive state, bindings, lifecycle hooks, template-based rendering and plugins."
    />
    <Font cssVariable="--font-poppins" preload={true} />
  </head>
  <body>
    <c-pointer></c-pointer>
    <div
      class="flex flex-col justify-center items-center min-h-[95vh] w-screen"
    >
      <div class="relative z-10 scale-75 md:scale-100">
        <svg
          width="400"
          height="400"
          preserveAspectRatio="none"
          viewBox="0 0 1280 1280"
        >
          <path
            id="Layer0_0_FILL"
            fill="#222730"
            d="m752 273-7-2-11-4-10-3-3-1-10-3-4-2h-7q-34-9-73-12l-6-1-3 1q-88-6-158 17-56 18-103 55-48 38-78 88t-41 109q-7 41-3 80v6l1 4-1 1 1 3v10l1 2 5 21 8 24 8 17v3l2 4 2 3 2 5 2 5 4 5 4 5 4 5 6 7 6 6 4 4 4 3q-5 8-7 17-4 10-4 24l2 24q3 20 9 35 7 19 21 34 13 15 31 24t38 12h22l1-1q12-1 25-5l2 5q17 38 48 70 30 30 68 51 29 16 62 27l11 6q43 8 80 9 44 0 81-10l12-4 7-1q30-14 46-24l10-7 2-1 2-1 10-7q18-18 29-33 15-20 24-38 11-21 17-47 4-17 6-38 2-2 2-5l1-6q3-74-16-150v-4l-3-26q-2-16 0-28l1-12 1-12-1-2h1v-1l11-12 13-11q8-6 18-8l4 1 3 1 30 6 38 7 15 4 15 2h3q3 2 7 2 3 0 6-3 2-3 2-7 1-3-1-8 3-5 2-15-2-13-6-23-6-12-14-19l-3-3q-3-5-10-9-22-15-51-28-22-10-55-22l-56-20-31-12-1-5-1-6-10-30-3-6q-1-4-4-6h-1q-12-25-29-46-18-22-41-40-17-13-37-24m-3 23v-1l10 7q26 17 47 40 21 24 35 52l3 5 3 8 6 18-4-2-7-2-7 2-2 1-1 3-2 2 1 4 3 6 4 3 6 3 45 19 47 16q60 21 91 36l25 15 5 3 4 4 2 5 1 3-8-4q-14-5-30-6-16 0-30 4-25 8-49 28-15 13-40 41l-56 63-29 30q-17 15-35 20v1l-4-1h-7q-38 1-84-5-32-4-82-14-58-11-100-22v1q-40-11-75-25l-3 3q-23 14-44 22l-8 3-7 3-5 2-6 1h-1q-22 8-37 20l-12 10-5-3-6-6-6-7-7-8-4-7-3-7-5-10q-11-23-17-49h1q-9-51 0-103 9-55 36-102 27-46 70-81t94-53q45-15 100-17l3 4q-33 15-62 45-30 30-53 72-27 52-39 110-12 57-7 115l3 11q2 5 7 6 3 1 7-2l4-6 1-8-1-8-1-22v-3l1-28 7-52v-1q9-41 25-77l6-14q17-32 43-64 9-12 19-22 28-27 59-36l5-2 14 2q11-1 19-6t12-13q42 4 76 13 22 5 41 14m-51 481q17 5 26 6l26 5q22 2 44-2 14-2 26-6l15-5 1-1q9-3 14-7l4-3 2 5v1q1 8-2 16t-10 14q-6 6-14 10l-6 3q-4 1-5 4-2 2-2 5v5l4 4q2 2 5 2h5l4-2q13-5 21-13l8-9 7-11q7-13 6-28h1l8-6 14-8 11-4 10-2h5v1l1 6 1 6 3 7q3 19 3 38v6l-1 38q-2 21-6 38-8 30-23 57l-19 27-7 9-10 11-11 10h-1v-1q-11 8-22 13l-18 9-19 7-19 7-10 3h-2l-25 5q-21 4-45 5-76-10-132-42-35-19-62-47-28-30-44-64l-3-6-7-13-13 2-23 4-23 1-9-1-8-3-1-1q-20-7-35-22-15-16-22-38-7-21-6-44 1-16 6-26 6-12 20-23 15-11 33-18 17-7 35-9h11q5 0 9 3l5 3 5 4 2 1 6 11v-1l6 10 16 27 36 59 2 1q7 4 10 4 5 0 10-3l5-4 1-16 4-43 5-34v-1l6 3 20 6q27 13 61 24 25 8 76 21m-248-84v1-1m63 37v1-1m354 154q2-6 0-11l-5-5-1-1-6-3-5-1q-21-3-47 3l-23 6-22 7-4 1q-6 3-11 8h-1l-12 12-20 23-17 25-6 11q0 7 2 11l3 4 8 5 6 3 7 1h2l47-14 27-7h4l7-1h3l5-1v-1h2l2-2 6-10 6-6-1-1 16-19 11-13 6-7 5-7 6-10m-24 0-1 1-2 2-12 14-1-1-9-3q-11-2-25-2l-9-1h-4 1l22-7q22-5 40-3m-128 56 9-12 7-7 5 1h10q5 0 9 2l7 4q9 8 13 16l-11 3q-23 5-42 12l-4 2h-7l-2-1-1-1 2-10 5-9M333 754v-2 3-1m58-18q-7-1-14 1-18 5-33 25l-11 17-2 4-1 5q0 4 3 7 3 2 7 2 5 0 9-5l4-4 2-5q7-13 15-19 5-4 11-6h12q6 2 13 9l4 3-7 4-9 9-5 8-4 10-2 11 2 7q1 7 4 10l6 8q5 5 12 8 7 4 14 3 7 0 11-4l2-5v-5l-3-4-5-3h-7q-5-1-9-4-4-4-5-9t1-10q1-4 6-10l3-3 4-2h5l5 12 3 6q1 4 4 5 3 3 8 2t7-5v-9q0-3-3-8l-8-16-10-15-9-9-16-12q-6-3-14-4m388-306q7 0 10-4 2-3 1-7t-4-7l-7-4-8-1q-28-3-59 7-25 8-55 26-52 32-103 81-42 40-89 97l-4 5-3 7v6q1 4 4 6l5 1 6-2 4-4 4-5q51-66 114-120 29-25 55-42 30-20 60-33l28-9q16-3 30 0l11 2m906 259-1-5-3-4q-2-2-6-2-5-1-9 2l-3 4-1 6 3 5 4 3 6 1q3 0 5-2l4-3 1-5Z"
          ></path>
        </svg>

        <h1
          class="big-title leading-none tracking-tighter -mt-5 text-center"
          style="font-family: var(--font-poppins); font-size: 85px;"
        >
          Scoped
        </h1>
      </div>

      <br />

      <div class="max-w-[900px] text-pretty sub-title mt-10 px-5 leading-none!">
        A <strong>lightweight</strong>, <strong>framework-agnostic</strong> library
        for building web components with <strong>reactive state</strong>, <strong
          >bindings</strong
        >, <strong>lifecycle hooks</strong>,
        <strong>template-based rendering</strong> and <strong>plugins</strong>.
      </div>

      <br />
      <br />

      <p class="font-mono">
        <strong>4.2 kb</strong> gzipped - <strong>12.8 kb</strong> minified
      </p>

      <div
        class="absolute top-5 right-5 hover:scale-110 transition-all duration-300"
      >
        <a href="https://github.com/petit-kit/scoped" target="_blank">
          <svg
            width="35px"
            height="35px"
            viewBox="0 0 73 73"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>team-collaboration/version-control/github</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g
              id="team-collaboration/version-control/github"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="container"
                transform="translate(2.000000, 2.000000)"
                fill-rule="nonzero"
              >
                <rect
                  id="mask"
                  stroke="#0048f2"
                  stroke-width="2"
                  fill="#0048f2"
                  x="-1"
                  y="-1"
                  width="71"
                  height="71"
                  rx="14"
                >
                </rect>
                <path
                  d="M58.3067362,21.4281798 C55.895743,17.2972267 52.6253846,14.0267453 48.4948004,11.615998 C44.3636013,9.20512774 39.8535636,8 34.9614901,8 C30.0700314,8 25.5585181,9.20549662 21.4281798,11.615998 C17.2972267,14.0266224 14.0269912,17.2972267 11.615998,21.4281798 C9.20537366,25.5590099 8,30.0699084 8,34.9607523 C8,40.8357654 9.71405782,46.1187277 13.1430342,50.8109917 C16.5716416,55.5036246 21.0008949,58.7507436 26.4304251,60.5527176 C27.0624378,60.6700211 27.5302994,60.5875152 27.8345016,60.3072901 C28.1388268,60.0266961 28.290805,59.6752774 28.290805,59.2545094 C28.290805,59.1842994 28.2847799,58.5526556 28.2730988,57.3588401 C28.2610487,56.1650247 28.2553926,55.1235563 28.2553926,54.2349267 L27.4479164,54.3746089 C26.9330843,54.468919 26.2836113,54.5088809 25.4994975,54.4975686 C24.7157525,54.4866252 23.9021284,54.4044881 23.0597317,54.2517722 C22.2169661,54.1004088 21.4330982,53.749359 20.7075131,53.1993604 C19.982297,52.6493618 19.4674649,51.9294329 19.1631397,51.0406804 L18.8120898,50.2328353 C18.5780976,49.6950097 18.2097104,49.0975487 17.7064365,48.4426655 C17.2031625,47.7871675 16.6942324,47.3427912 16.1794003,47.108799 L15.9336039,46.9328437 C15.7698216,46.815909 15.6178435,46.6748743 15.4773006,46.511215 C15.3368806,46.3475556 15.2317501,46.1837734 15.1615401,46.0197452 C15.0912072,45.855594 15.1494901,45.7209532 15.3370036,45.6153308 C15.5245171,45.5097084 15.8633939,45.4584343 16.3551097,45.4584343 L17.0569635,45.5633189 C17.5250709,45.6571371 18.104088,45.9373622 18.7947525,46.4057156 C19.4850481,46.8737001 20.052507,47.4821045 20.4972521,48.230683 C21.0358155,49.1905062 21.6846737,49.9218703 22.4456711,50.4251443 C23.2060537,50.9284182 23.9727072,51.1796248 24.744894,51.1796248 C25.5170807,51.1796248 26.1840139,51.121096 26.7459396,51.0046532 C27.3072505,50.8875956 27.8338868,50.7116403 28.3256025,50.477771 C28.5362325,48.9090515 29.1097164,47.7039238 30.0455624,46.8615271 C28.7116959,46.721353 27.5124702,46.5102313 26.4472706,46.2295144 C25.3826858,45.9484285 24.2825656,45.4922482 23.1476478,44.8597436 C22.0121153,44.2280998 21.0701212,43.44374 20.3214198,42.5080169 C19.5725954,41.571802 18.9580429,40.3426971 18.4786232,38.821809 C17.9989575,37.300306 17.7590632,35.5451796 17.7590632,33.5559381 C17.7590632,30.7235621 18.6837199,28.3133066 20.5326645,26.3238191 C19.6665366,24.1944035 19.7483048,21.8072644 20.778215,19.1626478 C21.4569523,18.951772 22.4635002,19.1100211 23.7973667,19.6364115 C25.1314792,20.1630477 26.1082708,20.6141868 26.7287253,20.9882301 C27.3491798,21.3621504 27.8463057,21.6790175 28.2208409,21.9360032 C30.3978419,21.3277217 32.644438,21.0235195 34.9612442,21.0235195 C37.2780503,21.0235195 39.5251383,21.3277217 41.7022622,21.9360032 L43.0362517,21.0938524 C43.9484895,20.5319267 45.0257392,20.0169716 46.2654186,19.5488642 C47.5058357,19.0810026 48.4543466,18.9521409 49.1099676,19.1630167 C50.1627483,21.8077563 50.2565666,24.1947724 49.3901927,26.324188 C51.2390143,28.3136755 52.1640399,30.7245457 52.1640399,33.556307 C52.1640399,35.5455485 51.9232849,37.3062081 51.444357,38.8393922 C50.9648143,40.3728223 50.3449746,41.6006975 49.5845919,42.5256002 C48.8233486,43.4503799 47.8753296,44.2285916 46.7404118,44.8601125 C45.6052481,45.4921252 44.504759,45.9483056 43.4401742,46.2293914 C42.3750975,46.5104772 41.1758719,46.7217219 39.8420054,46.8621419 C41.0585683,47.9149226 41.6669728,49.5767225 41.6669728,51.846804 L41.6669728,59.2535257 C41.6669728,59.6742937 41.8132948,60.0255895 42.1061847,60.3063064 C42.3987058,60.5865315 42.8606653,60.6690374 43.492678,60.5516109 C48.922946,58.7498829 53.3521992,55.5026409 56.7806837,50.810008 C60.2087994,46.117744 61.923472,40.8347817 61.923472,34.9597686 C61.9222424,30.0695396 60.7162539,25.5590099 58.3067362,21.4281798 Z"
                  id="Shape"
                  fill="#f0f6fc"
                >
                </path>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>

    <div class="text-content-narrow flex flex-row gap-10 mx-auto">
      <aside class="sticky top-5 self-start shrink-0 hidden xl:block">
        <c-table-content></c-table-content>
      </aside>
      <c-content></c-content>
    </div>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@highlightjs/cdn-assets/styles/github.css"
    />
  </body>
</html>

<script>
  import hljs from 'highlight.js/lib/core';
  import { happy } from '@petit-kit/scoped';
  import '../components/c-table-content.ts';
  import '../components/c-content.ts';
  import '../components/c-pointer.ts';

  import typescript from 'highlight.js/lib/languages/typescript';
  import bash from 'highlight.js/lib/languages/bash';
  import javascript from 'highlight.js/lib/languages/javascript';
  import xml from 'highlight.js/lib/languages/xml';

  hljs.registerLanguage('typescript', typescript);
  hljs.registerLanguage('javascript', javascript);
  hljs.registerLanguage('bash', bash);
  hljs.registerLanguage('xml', xml);

  hljs.configure({
    languages: ['typescript', 'ts', 'javascript', 'js', 'bash', 'sh'],
    ignoreUnescapedHTML: true,
    cssSelector: 'pre code',
  });

  hljs.highlightAll();

  happy();
</script>
